a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
a:link {
  text-decoration: none;
  color: #3A681A;
}
a:visited {
  color: #3A681A;
}
a:hover {
  color: #5CA22E;
}
a:active {
  color: #DC0000;
}

.pole2 {
  border: 1px solid #008000;
  font-size: 11px;
  background-color: #E7F2D7;
  height: 17px;
  width: 200px;
}

.pole-width {
  width: 95px;
}