ul {
	background-color: #FACC2E;
	list-style-type: none;
	width: 200px;
	height: 170px;
	color: #B40404;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px;
	margin: auto;
}
li {
	margin: 12px -15px;
}